.MuiContainer-root {
    margin-top: 100px;
}

.playerWrap:hover {
    animation: hideMouse 4s;
}

@keyframes hideMouse {
    0% {
        cursor: auto;
    }

    99% {
        cursor: auto;
    }

    100% {
        cursor: none;
    }
}